header{
    background-color: rgba(123, 208, 245, 0.619);
    background-image: linear-gradient(to right, rgba(240, 255, 255, 0.619),whitesmoke);
      color: rgb(26, 153, 231);
      margin: 1%;
      padding: 1%;
      
  }